 <div class="list-header">
  <div class="list-header-title">
    <h1><%= @list.name %></h1>
  </div>
  <% if @list.user_id == current_user.id %>
    <div class="list-header-buttons">
      <div class="btn btn-primary"><%= link_to new_list_bookmark_path(@list) do %>
        <i class="fas fa-plus"></i>
        <% end %>
      </div>
        <div id="edit-button" class="btn btn-success"><%= link_to "#" do %>
        <i class="far fa-edit"></i>
      <% end %>
      </div>
      <div class="btn btn-danger" id="remove-movie">
        <%= link_to list_path(@list),
                method: :delete,
                data: { confirm: "Are you sure?" } do %>
                <i class="fas fa-trash"></i>
                <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="movies-container">
  <% @list.bookmarks.each do |bookmark| %>
  <div class="movie-container">
    <div class="card-movie">
      <%= image_tag bookmark.movie.poster_url , alt: "Poster" %>
      <div class="card-movie-infos">
        <div>
          <h2><%=link_to bookmark.movie.title, movie_path(bookmark.movie.id) %></h2>
          <p><%=bookmark.movie.overview %></p>
          <h3 id="comment" ><i class="fas fa-comment-dots"> "</i><%=bookmark.comment %>"</h3>
        </div>
        <div class="movie-rating list-rating">
          <% (bookmark.movie.rating.to_i).times do %>
          <div class="star">
            <h2><i class="fas fa-star"></i></h2>
          </div>
          <% end %>
        </div>
      <div id="handle">
        <i class="fas fa-arrows-alt"></i>
      </div>
      </div>
      <button id="destroy-button" type="button" class="btn btn-danger hidden"><%= link_to "Remove from this list",
                    list_bookmark_path(bookmark.movie.id),
                    method: :delete,
                    data: { confirm: "Are you sure?" }
                    %></button>
    </div>
  </div>
  <% end %>
</div>
