<h1>Have you seen this movie?</h1>

<div class="new-list-container">
<%= simple_form_for [@movie] do |f| %>
  <%= f.input :seen, as: :boolean, label: "Seen" %>
  <%= f.input :seen_date, as: :date, label: "When?", id: "seen-checkbox" %>
  <%= f.input :youtube_url, placeholder: "Youtube share link, like https://youtu.be/nPQ7om598OM"  %>
  <%= f.submit "Submit new movie", class: "btn btn-primary" %>
<% end %>
</div>
