<div class="new-list-container">
  <div class="new-list-container-title">
    <h1>Have you seen this movie?</h1>
  </div>
<%= simple_form_for [@movie] do |f| %>
  <%= f.input :seen, as: :boolean, label: "Seen" %>
  <%= f.input :seen_date, as: :date, label: "When?", id: "seen-checkbox" %>
  <div class="youtube-edit-button">
    <h3>
      <i class="fab fa-youtube"></i>
    </h3>
  </div>
  <div id="youtube-edit" class="youtube-hidden">
    <%= f.input :youtube_url, placeholder: "Youtube share link, like https://youtu.be/nPQ7om598OM", id:"youtube-edit" %>
  </div>
  <hr>
  <%= f.submit "Submit new movie", class: "btn btn-primary" %>
<% end %>
</div>
