<div class="header">
  <div class="header-title">
    <h1>Movies</h1>
  </div>
  <div class="header-button">
    <button type="button" class="btn btn-primary header-btn"><%= link_to new_movie_path do %>
      <i class="fas fa-plus"></i>
    <% end %>
    </button>
    <button type="button" class="btn btn-danger header-btn" id="edit-button"><%= link_to "#" do %>
      <i class="fas fa-trash"></i>
    <% end %>
    </button>
  </div>
</div>

<div class="container">
  <div class="search-container">
    <div class="search-input">
    <%= form_tag movies_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a movie"
      %>
    </div>
    <div class="search-button">
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row align-items-start">
  <% @movies.each do |movie| %>
    <div class="col">
      <div class="card m-2" style="width: 18rem;" m-4>
        <div class="movie-body">
          <div class="movie-img">  <%= image_tag movie.poster_url , alt: "Poster" %></div>
            <div class="movie-info">
              <h5 class="card-title"><%= link_to movie.title, movie_path(movie) %></h5>
              <h6><%= movie.year %></h6>
              <h6><%= movie.genre %></h6>
              <% if movie.seen %>
                <div class="index-movie-seen">
                  <i class="far fa-eye"></i>
                </div>
              <% else %>
                <div class="index-movie-not-seen">
                  <i class="far fa-eye-slash"></i>
                </div>
              <% end %>
              <div class="movie-delete-button hidden" id="destroy-button">
              <%= link_to movie_path(movie),
                      class: "btn btn-danger",
                      method: :delete,
                      data: { confirm: "Are you sure?" } do %>
                <i class="fas fa-trash"></i>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
