<div class="header">

  <% comment do %>
  <div class="search-container">
    <div class="search-input">
    <%= form_tag movies_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a movie"
      %>
    </div>
    <% end %>
  </div>
    <div class="search-button">
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="index-header-button">
    <button id="add-button" type="button" class="btn btn-primary header-btn"><%= link_to new_movie_path do %>
      <i class="fas fa-plus"></i>
    <% end %>
    </button>
    <button type="button" class="btn btn-danger header-btn" id="edit-button"><%= link_to "#" do %>
      <i class="fas fa-trash"></i>
    <% end %>
    </button>
  </div>
</div>

<% comment do %>
<div class="movies-index-container">
  <% @movies.each do |movie| %>
    <%= render 'shared/movie_card', movie: movie %>
  <% end %>
</div>
<% comment end %>

  <div id="root"></div>
