<div class="seen-list-container">
  <div class="seen-list">
  <h1><%= "#{pluralize(@seen_movies.count, 'movie')} watched" %></h1>
    <div class="seen-lists-container">
      <div class="seen-list-title">
        <ul>
        <% @seen_movies.each do |movie| %>
            <li><%= link_to movie.title, movie_path(movie) %></li>
        <% end %>
        </ul>
      </div>
      <div class="seen-list-date">
        <ul>
        <% @seen_movies.each do |movie| %>
            <li>Seen on <%= movie.seen_date.strftime("%Y %m %d") %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="unseen-list">
    <h1><%= "#{pluralize(@unseen_movies.count, 'movie')} not watched" %></h1>
    <ul>
    <% @unseen_movies.each do |movie| %>
        <li><%= link_to movie.title, movie_path(movie) %></li>
    <% end %>
    </ul>
  </div>
</div>
