<div class="header">
  <div class="header-title">
    <h1><%= @movie.title %></h1>
  </div>

<% if @movie.seen %>
  <div class="movie-seen">
    <div class="movie-seen-icone">
    <%= link_to edit_movie_path do %>
      <i class="far fa-eye"></i>
    <% end %>
    </div>
    <div class="movie-seen-date">
      <h3><%= "Seen on #{@movie.seen_date.strftime("%Y %m %d")}" %></h3>
    </div>
  </div>
<% else %>
  <div class="movie-not-seen">
    <%= link_to edit_movie_path do %>
      <i class="far fa-eye-slash"></i>
    <% end %>
  </div>
<% end %>

  <div class="header-button">
    <div class="btn btn-danger" id="remove-movie">
    <%= link_to movie_path(@movie),
            method: :delete,
            data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-trash"></i>
            <% end %>
    </div>
  </div>
</div>

<div class="movie-show">
  <div class="movie-poster">
    <%= image_tag @movie.poster_url , alt: "Poster" %>
  </div>
  <div class="movie-infos">
    <div class="movie-show-overview">
      <h2><%= @movie.overview %></h2>
    </div>
  <h3><%= @movie.year %></h3>
  <h3><%= @movie.genre %></h3>
  <h3><%= @movie.director %></h3>
  <h3><%= @movie.actor %></h3>
  <div class="movie-rating">
  <% if @movie.rating %>
    <% rating = @movie.rating %>
    <% (rating.first(3).to_f.ceil).times do %>
      <div class="star">
        <h2><i class="fas fa-star"></i></h2>
      </div>
    <% end %>
  <% end %>
  </div>
    <div class="youtube">
      <% if @movie.youtube_url %>
      <iframe width="560" height="315" src = "http://www.youtube.com/embed/<%=@movie.youtube_url%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <% end %>
    </div>
  </div>
</div>
