<div class="navbar navbar-expand-sm navbar-light navbar-movie">
<h1 class="navbar-title"><%= @movie.title %></h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button type="button" class="btn btn-success"><%= link_to 'Edit this movie', edit_movie_path %></button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-warning"><%= link_to 'Back', movies_path %></button>
      </li>
    </ul>
  </div>
</div>

<div class="movie-show">
  <div class="movie-poster">
    <%= image_tag @movie.poster_url , alt: "Poster" %>
  </div>
  <div class="movie-infos">
    <div class="movie-overview">
      <h2><%= @movie.overview %></h2>
    </div>
  <h3><%= @movie.year %></h3>
  <h3><%= @movie.genre %></h3>
  <h3><%= @movie.director %></h3>
  <h3><%= @movie.actor %></h3>
  <div class="movie-rating">
  <% if @movie.rating %>
    <% rating = @movie.rating %>
    <% (rating.first(3).to_f.ceil).times do %>
      <div class="star">
        <h2><i class="fas fa-star"></i></h2>
      </div>
    <% end %>
  <% end %>
  </div>
    <div class="youtube">
      <% if @movie.youtube_url %>
      <iframe width="560" height="315" src = "http://www.youtube.com/embed/<%=@movie.youtube_url%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <% end %>
    </div>
  </div>
</div>
