<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag src="https://image.flaticon.com/icons/png/512/195/195158.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <div class="header__item <%= "header__item--active" if controller_name == "lists" && action_name == "index" %>">
        <li class="nav-item">
          <%= link_to 'Lists', lists_path %>
        </li>
      </div>
      <div class="header__item <%= "header__item--active" if controller_name == "movies" && action_name == "index" %>">
        <li class="nav-item">
          <%= link_to 'Movies', movies_path %>
        </li>
      </div>
      <div class="header__item <%= "header__item--active" if controller_name == "movies" && action_name == "seen" %>">
        <li class="nav-item">
          <%= link_to 'Watched', movies_seen_path %>
        </li>
      </div>
        <li class="nav-item dropdown">
          <%= image_tag "https://s1.qwant.com/thumbr/0x380/0/2/b3f2283456afd98cfcad9cf17d8b9c905b58f3077525ea90acdf6b1217f8d4/user-icon-symbol-sign-vector.jpg?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F000%2F649%2F115%2Foriginal%2Fuser-icon-symbol-sign-vector.jpg&q=0&b=1&p=0&a=0", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <%= link_to "Edit profil", edit_user_registration_path, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>


<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      <div class="header__item <%= "header__item--active" if controller_name == "lists" && action_name == "index" %>">
        <li class="nav-item">
          <%= link_to 'Lists', lists_path %>
        </li>
      </div>
      <div class="header__item <%= "header__item--active" if controller_name == "movies" && action_name == "index" %>">
        <li class="nav-item">
          <%= link_to 'Movies', movies_path %>
        </li>
      </div>
      <div class="header__item <%= "header__item--active" if controller_name == "movies" && action_name == "seen" %>">
        <li class="nav-item">
          <%= link_to 'Watched', movies_seen_path %>
        </li>
      </div>
      </ul>
    </div>
